<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>確認</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">
  <h1>申請内容確認</h1>

  <dl>
    <dt>所属</dt><dd>{{ department }}</dd>
    <dt>氏名</dt><dd>{{ name }}</dd>
    <dt>休暇期間</dt>
    <dd>{{ start }} 〜 {{ end }}（{{ days }}日間）</dd>
    <dt>理由</dt><dd>{{ reason }}</dd>
    <dt>種類</dt><dd>{{ vacation_type }}</dd>
    <dt>備考</dt><dd>{{ note }}</dd>
  </dl>

  <form action="/complete" method="post">
    <input type="hidden" name="department" value="{{ department }}">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="start" value="{{ start }}">
    <input type="hidden" name="end" value="{{ end }}">
    <input type="hidden" name="days" value="{{ days }}">
    <input type="hidden" name="reason" value="{{ reason }}">
    <input type="hidden" name="other_reason" value="{{ other_reason }}">
    <input type="hidden" name="vacation_type" value="{{ vacation_type }}">
    <input type="hidden" name="note" value="{{ note }}">
    <button type="submit">この内容で申請</button>
  </form>


  <form action="/form" method="get">
    <button class="back">戻る</button>
  </form>
</div>
</body>
</html>
